<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.serofit.UserMapper">
	<select id="getHotPosts" resultType="com.serofit.domain.BoardVO" parameterType="int">
		<![CDATA[
			SELECT * 
			FROM (
			SELECT * 
			FROM table_board 
			ORDER BY hit DESC, love DESC
			)
			WHERE ROWNUM <=#{quantity}
		]]>
	</select>
</mapper>
