<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.serofit.mapper.FollowMapper">
	
	<!-- 팔로잉 목록 불러오기 -->
	<select id="getFollowList" parameterType="int" resultType="com.serofit.domain.FollowVO">
		SELECT * 
		FROM tbl_follow
		WHERE thrower=#{uno}
	</select>
	
	<!-- 팔로워 목록 불러오기 -->
	<select id="getFollowerList" parameterType="int" resultType="com.serofit.domain.FollowVO">
		SELECT * 
		FROM tbl_follow
		WHERE catcher=#{uno}
	</select>
	
	<!-- 즐겨찾기 목록 불러오기 -->
	<select id="getFavList" parameterType="int" resultType="com.serofit.domain.FollowVO">
		SELECT *
		FROM tbl_follow
		WHERE thrower=#{uno} and fav=1
	</select>
	
	<!-- 팔로우 -->
	<insert id="follow" parameterType="com.serofit.domain.FollowVO">
		INSERT INTO tbl_follow 
		VALUES(
			#{thrower},
			#{catcher},
			DEFAULT
		)
	</insert>
	
	<!-- 언팔로우 -->
	<delete id="unFollow" parameterType="com.serofit.domain.FollowVO">
		DELETE FROM tbl_follow 
		WHERE thrower = #{thrower} AND catcher = #{catcher}
	</delete>
	
	<!-- 즐겨찾기 추가 -->
	<update id="addToFav" parameterType="com.serofit.domain.FollowVO">
		UPDATE tbl_follow 
		SET
			fav = 1
		WHERE thrower = #{thrower} AND catcher = #{catcher}	
	</update>
	
	<!-- 즐겨찾기 해제 -->
	<update id="removeFromFav" parameterType="com.serofit.domain.FollowVO">
		UPDATE tbl_follow 
		SET
			fav = 0
		WHERE thrower = #{thrower} AND catcher = #{catcher}	
	</update>
	
	<!-- 회원 탈퇴시 팔로우 전체 삭제 -->
	<delete id="deleteFollowAll" parameterType="int">
		DELETE FROM tbl_follow
		WHERE thrower = #{uno} OR catcher = #{uno}
	</delete>
	
	<!-- 팔로우 하려는 사람을 이미 팔로우 하고 있는지 확인  -->
	<select id="checkIfFollow" parameterType="com.serofit.domain.FollowVO" resultType="int">
		SELECT COUNT(*) FROM tbl_follow
		WHERE thrower = #{thrower} AND catcher = #{catcher}
	</select>
</mapper>
