<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.serofit.mapper.UserMapper">
	<!-- 인기 게시글 가져오기, 프로필 이미지 가져오기, 회원 정보 -->
	<select id="readNickname" parameterType="int" resultType="String">
		SELECT nickname FROM tbl_user WHERE uno=#{uno}
	</select>
	
	<!-- 회원 정보 등록 -->
	<insert id="insertUser" parameterType="com.serofit.domain.UserVO">
		<selectKey keyProperty="uno" resultType="int" order="BEFORE">
			SELECT seq_user.nextval FROM dual
		</selectKey>
		INSERT INTO tbl_user
		VALUES
			(
				#{uno},
				#{id},
				#{pw},
				#{nickname},
				#{email}
			)
	</insert>
	
	<!-- 이메일 중복 확인 -->
	<select id="validateEmail" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE email=#{emil}
	</select>
	
	<!-- 아이디 중복 확인 -->
	<select id="validateId" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE id=#{id}
	</select>
	
	<!-- 닉네임 중복 확인 -->
	<select id="validateNickname" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE nickname=#{nickname}
	</select>
	
	<!-- uno 값 가져오기 -->
	<select id="getUno" parameterType="com.serofit.domain.LoginDTO" resultType="int">
		SELECT UNO FROM tbl_user WHERE id=#{username} AND pw=#{password}
	</select>
	
	<!-- 유저 정보 존재 확인 -->
	<select id="login" parameterType="com.serofit.domain.LoginDTO" resultType="int">
		SELECT COUNT(*) FROM tbl_user WHERE id=#{username} AND pw=#{password}
	</select>
	
	<!-- id/pw 찾기 -->
	<select id="findIdPwByEmail" parameterType="String" resultType="com.serofit.domain.UserVO">
		SELECT uno, id, pw FROM tbl_user WHERE email=#{email}
	</select>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteUser" parameterType="int">
		DELETE FROM tbl_user WHERE uno=#{uno}
	</delete>
	
	<!-- 로그인 데이터 받아오기 -->
	<select id="read" parameterType="String" resultMap="userMap">
		SELECT 
			tbl_user.*, auth.auth 
		FROM 
			tbl_user LEFT JOIN tbl_auth auth
		ON 
			tbl_user.uno=auth.uno
		WHERE 
			tbl_user.id=#{id}
	</select>
	
	<resultMap type="com.serofit.domain.UserVO" id="userMap">
		<result property="uno" column="uno"/>
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="nickname" column="nickname"/>
		<result property="email" column="email"/>
		<collection property="authList" resultMap="authMap"></collection>				
	</resultMap>
	
	<resultMap type="com.serofit.domain.AuthVO" id="authMap">
		<result property="uno" column="uno"/>
		<result property="auth" column="auth"/> 
	</resultMap>
	
	<!-- 회원 가입 시 권한 설정 -->
	<insert id="insertAuth" parameterType="int">
		INSERT INTO tbl_auth VALUES(#{uno}, 'user')
	</insert>
</mapper>
