/* 전체 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Apple SD Gothic Neo', sans-serif;
  background-color: #f0f2f5;
  padding: 40px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

h2, h3 {
  color: #444;
  margin-bottom: 15px;
}

form section {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #222;
  line-height: 30px
}
form label {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  color: #222;
}

form input[type="text"],
form input[type="number"],
form select {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  background-color: #fff;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 6px;
  margin-left: 10px;
  transform: scale(1.1);
}

button[type="submit"] {
  margin-top: 25px;
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 30px;
  padding: 20px;
  background-color: #e7ffe7;
  border-left: 5px solid #34c759;
  border-radius: 5px;
  font-size: 15px;
  color: #333;
}

.goal-section {
  margin-top: 25px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  border-radius: 5px;
}

.hidden {
  display: none;
}

input[type="text"] {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  background-color: #fff;
}
.region-select-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.region-btn {
  width: fit-content;
  padding: 6px 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.region-btn:hover {
  background-color: #0056b3;
}

.selected-region {
  display: block;
  background-color: #f1f1f1;
  color: #666;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
}

.region-btn:focus {
  outline: none; /* 기본 파란 테두리 제거 */
  border: 2px solid #333; /* 진한 검정 테두리 */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); /* 약한 검정 그림자 */
}